#item_holder {
    width: 600px;
    word-break: break-all;
    max-height: 800px;
    overflow-y: auto;
    margin-bottom: 15px;
}

.socket_item:not(:first-child) {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed #000;
}

.socket_item b {
    font-weight: bold;
}
