.wrapper {
    padding: 20px;
}

#item_holder {
    width: 600px;
    word-break: break-all;
    max-height: 800px;
    overflow-y: auto;
    margin-bottom: 15px;
}

.socket_item:not(:first-child) {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed #000;
}

.socket_item b {
    font-weight: bold;
}

.button {
    border: 2px solid #222;
    border-radius: 20px;
    padding: 20px 40px;
    display: inline-block;
}
